<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
    3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">
<!--    <insert id="userRegister">-->
<!--        INSERT INTO `user`-->
<!--        ( tea_company_id, agency_id, admin_id, user_name, user_password, user_email, user_phone, register_time, user_type )-->
<!--        VALUES-->
<!--        ( #{teaCompanyId}, #{agencyId}, #{adminId}, #{userName}, #{userPassword}, #{userEmail}, #{userPhone}, #{registerTime}, #{userType}-->
<!--    </insert>-->
    <insert id="insertOrder">
        insert into `order` (pid,uid) values (#{pid},#{uid})
    </insert>


</mapper>